header {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

header img {
  width: 250px;
  height: auto;
}

.login-wrapper button {
  background-color: orange;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.login-form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}