

:root {
  --dark-background: #444444;
  --dark-popup: #8d4000;
  --dark-menu: #cd5c00;
  --dark-menu-hover: #e58435;
  --dark-menu-active: #e3761d;
  --dark-button: #666666;
  --dark-button-hover: #585858;
  --dark-button-active: #555555;
  --dark-aside: #555555;
  --dark-input: var(--dark-aside);
  --dark-text-color: white;
  --dark-red: #ad0a0a;
  --dark-green: #269200;

  --light-background: rgba(249, 155, 32, 0.308);
  --light-popup: orange;
  --light-menu: orange;
  --light-menu-hover: #ffbb61;
  --light-menu-active: #fda633;
  --light-button: white;
  --light-button-hover: #fdf8ef;
  --light-button-active: #fdc781;
  --light-aside: #ffaa00cc;
  --light-input: white;
  --light-text-color: black;
  --light-h-text-color: orange;
  --light-red: rgb(255, 42, 0);
  --light-green: rgb(124, 232, 0);

}


html, #app {
  margin: 0;
  padding: 0;
  background-color: #fcecd8;
  height: 100%;
}
