#index-cards-entry-body {
  width: 100%;
  margin-left: 0;
}

h1 {
  font-size: 1.5em;
  border: 0;
  margin-left: 1em;
}
hr {
  border: 0;
  height: 1px;
  background-color: var(--color-border);
  border-color: var(--color-border);
}

button {
  font-size: 1em;
  cursor: pointer;

  border: none;
  border-radius: 0.25em;
}

#index-cards-entry-main {
  display: flex;
}

#index-cards-entry-main > * {
  margin: 0.25em;
  border-radius: 0.5em;
}

#input {
  order: 1;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex: 2 2 0%;
}
#input-container {
  order: 1;
  display: inline;
}
#input-container > div {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}
label {
  order: 1;
}

.input-field {
  font-family: var(--standard-font-family);
  background-color: var(--color-background-mute);
  color: var(--color-text);
  font-size: 1em;
  width: 100%;
  height: 5em;
  border: 0;
  border-radius: 0.25em;
  resize: none;
}
#question {
  width: 75%;
}

#correct_answers-container {
  width: auto;
  display: inline;
}
#correct_answers {
  width: 6em;
  max-width: 6em;
  margin-right: 0.5em;
}
#example {
  order: 3;
}


#control-button-container {
  order: 2;
  display: flex;
}
.control-button {
  overflow: hidden;
  text-overflow: ellipsis;

  width: 50%;
  padding: 0.5em;
  border: 0px;
  border-radius: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}



@media (max-width: 1000px) {
  #index-cards-entry-body {width: 100%;}
  #index-cards-entry-main {flex-direction: column;}
  #input-container > div {width: 100%;}
  #question {width: 100%;}
  #control-button-container {
    flex-direction: column;
  }
  .control-button {
    width: 100%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
  }
  aside {max-width: 100%}
}