#mc-quiz-body {
  color: var(--color-text);
  width: 100%;
  margin-left: 0;
}

h1 {
  text-align: center;
  padding: 0.25em;
  border: 0;
  margin: 0;
}

button {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0.5em;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
}


#mc-quiz-main > * {
  margin: 0.25em;
}

#menu {
  display: flex;
  flex-direction: column;
}

#change-learning-mode-button {
  position: relative;
  left: 50%;
  top: 2em;
  transform: translate(-50%);
  width: 16em;
}

#middle {
  display: flex;
  flex-direction: column;
  flex: 6 6 0%;
}
#progress-bar-container {
  align-items: left;
  text-align: center;
  width: auto;

  padding: 0.5em;
  /*border-bottom: 2px solid black;*/
  margin: 0;
  order: 1;
}
#progress-text {margin-bottom: 0.25em;}
#progress-bar {height: 0.5em; width: 100%; border: 2px solid var(--color-border); border-radius: 0.25em;}
#progress {height: 0.5em; background-color: #009000; width: 0%; border-radius: 0.25em;}
#question-container {
  text-align: center;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 0.5em;
  order: 2;
}
#question-container::first-line {font-weight: bold;}
#question-container > * {
  order: 1;
}
#statistic {
  text-align: left;

  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-left: auto;
  margin-right: auto;
  order: 2;
}
span{pointer-events: none;}

#answer-buttons {
  display: flex;
}
.answer-button {
  flex: 1 0 0;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border: 4px solid #0000;
  background-color: var(--htw-gray);
  color: black;
}
.answer-button:hover {
  background-color: #dde1f0;
}

#new-task-button {
  width: 25%;
  font-size: 1.1em;
  order: 4;
  border: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

#cancel-quiz-button {
  width: 25%;
  font-size: 1.1em;

  display: block;

  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
}


#task {
  font-weight: bold;
}



@media (max-width: 1000px) {
  #mc-quiz-body {width: 100%; margin-bottom: 3em;}
  #question-container {order: 3; padding-left: 1em; padding-right: 1em;}
  #statistic {text-align: left; padding-left: 1em; padding-right: 1em;}
  #answer-buttons {flex-direction: column; align-items: stretch;}
  .answer-button {order: 0; width: 100%;margin-left: 0; margin-right: 0; margin-top: 0.25em; margin-bottom: 0.25em;}
  #new-task-button {width: 80%; margin-bottom: 1em;}
  #cancel-quiz-button {width: 80%;}
}